.btn {
  border-radius: 31px;
  width: 93px;
  font-size: 0.9rem;
}
#signin {
  background-color: white;
  color: rgba(0, 0, 0, 0.1);
  padding: 5px 22px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;
  border-radius: 30px;
}
#register {
  background-color: #007bff;
  border: none;
  color: white;
}
#signin:hover{
  border: 1px solid black;
}
.nav-link{
  color: black;
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
  color: #007bff;
}